@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;

.project {
    margin: 1rem 0;
    position: relative;
    

    @include tablet {
        width: 100%;
    }

    &__container {
        position:relative;
        overflow: hidden;
        border-radius: 10px;
        height: 20rem;
        width: 15rem;

        &--invert {
            flex-direction: row-reverse;
        }

        @include tablet {
            width: 100%;
            display: flex;
        }

        @include desktop {
            justify-content: space-between;
            align-items: center;
            height: 30rem;
        }

    }

    &__title {
        font-weight: 800;
        font-size: 1.2rem;
        margin: 0;
        margin-bottom: 0.5rem;
        

        @include desktop {
            font-size: 2rem;
        }
    }

    &__description {
        @include desktop{
            margin: 0;
        }
    }
    

    &__img {
        border-radius: 10px;
        object-fit: cover;
        height: 20rem;
        width: 15rem;
        opacity: 0.6;
        transition: opacity 0.5s ease-in-out;

        @include tablet{
            width: 20rem;
            margin: 0 1rem;
        }
        
        @include desktop {
            height: 30rem;
            width: 40%;
        }

        &:hover {
            opacity: 1;
        }

    }

    &__label-box {
        border-radius: 10px;
        overflow: hidden;
        height: 20rem;
        width: 15rem;
        position: absolute;
        bottom:-17rem;
        background-color: $primaryDark;
        @include flex-column;
        align-items: center;
        padding: 1rem;
        font-size: 0.9rem;
        transition: all 0.3s ease-in-out;

        @include tablet {
            width: 20rem;
            height: 20rem;
            position: static;
            padding: 1rem;
            margin: 0 1rem;
        }

        @include desktop {
            height: 30rem;
            width: 80%;
            justify-content: center;
        }

        &:hover{
            animation: fade_in_bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) forwards;
            bottom: 0px;
        }

    }

    &__link{
        @include button;
        text-decoration: none;
        text-transform: capitalize;
        border: 1px solid $primaryLight;
        margin: 0.25rem;
        font-size: 1rem;
        font-weight: 800;

        @include tablet {
            margin: 1rem 0;
        }



        &-box{
            width: 100%;
            display: flex;
            justify-content: flex-start;

            &--reverse {
                @include tablet{
                    flex-direction: row-reverse;

                }
            }
        }
    }

    &__tech {

        &-listbox {
            text-decoration: none;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            padding: 0;
            margin: 0;
        }
        &-list{
            padding: 0.2rem;
            font-size: 0.8rem;
        }
        &-icon {
            height: 2rem;
            padding: 0.2rem;

            @include desktop{
                margin-top: 0.5rem;
                height: 2.5rem;
            }
        }
    }
}