@keyframes bounce {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }
    
}


@keyframes sending {
    0%{
        transform: translate(0,0);
    }
    100%{
        transform: translate(5px,-5px);
    }
    
}