$primaryLight: #F5EAE5;
$primary: #7F9BD0;
$primaryDark:#5D7CC3;
$secondary:#344E8C; 
$secondaryDark: #203458;





//previous colors
// $primaryLight: #F5EAE5;
// $primary: #C98895;
// $primaryDark: #853C4A;
// $secondary: #FFF6D9;
// $secondaryDark: #2C0703;