// $backgroundColor:#eee4e1;
// $primaryLight:#697FE2;
// $primary:  #344E8C;
// $primaryDark:#4168B0;
// $secondary:#DE71A9; 
// $secondaryDark: #203458;

//AM 
$backgroundColor:#eee4e1;
$primaryLight:#FDB0CF;
$primary:  #4B4E53;
$primaryDark:#4168B0;
$secondaryLight:#FEEEDA;
$secondary:#FFC1A6; 
$secondaryDark: #203458;

//PM
// $backgroundColor:#f6fafa;
// $primaryLight:#A5C5F8;
// $primary:  #344E8C;
// $primaryDark:#4168B0;
// $secondary:#ebfaf1;; 
// $secondaryDark: #203458;






//#7F9BD0 - old
//#F6ECEC
//#EDEDE9

//previous colors
// $primaryLight: #E8F3F1;
// $primary: #83C5BE;
// $primaryDark: #853C4A;
// $secondary: #FFF6D9;
// $secondaryDark: #212529;