$primaryLight: #F5EAE5;
$primary: #853C4A;
$primaryDark:#2C0703;
$secondary: #FFF6D9;
$secondaryDark: #2C0703;





//previous colors
// $primaryLight: #F5EAE5;
// $primary: #C98895;
// $primaryDark: #853C4A;
// $secondary: #FFF6D9;
// $secondaryDark: #2C0703;