@use '../partials/colors' as *;

@mixin tablet {
    @media (min-width:48rem) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 80rem){
        @content;
    }
}

@mixin large-desktop {
    @media (min-width: 90rem){
        @content;
    }
}

@mixin mobile-padding {
    padding: 2rem;
}

@mixin tablet-padding {
    padding: 3rem;
}

@mixin desktop-padding {
    padding: 3rem 5rem;
    
}


@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-center {
    justify-content: center;
    align-items: center;
}

@mixin threeD-button{
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 2px 3px 0px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: 0.5s linear;

    &:active{
        box-shadow:none;
        border: 1px solid grey;

    }
};



@mixin button {
    background-color: transparent;
    border: 2px solid $primary;
    border-radius: 5px;
    padding: 0.5rem;
    color: $primary;
    margin-top: 1rem;
    cursor: pointer;
    transition: 0.25s;


    &:hover,
    &:focus { 
        background-color: rgba(245,234,229,0.6);
        color: $secondaryDark;
        border-color: $secondaryDark;
    }
}

@mixin top-margin {
    margin-top: 2rem;
}

@mixin react-icon {
    width: 1rem;
    color: $primary;
    cursor: pointer;
    @include tablet{
        width: 1.5rem;
    }
    @include desktop {
        width: 2rem;
    }
}

@mixin border-radius {
    border-radius: 10px;
    
}

@mixin sending-animation {
    animation: sending 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
}

@mixin pink-neon-text{
    color:#FFF1F9;
    text-shadow: 0 0 5px #FFC6E7, 
    0 0 10px #FFC6E7,
    0 0 50px #FF63BE, 
    0 0 20px #FF63BE,
    0 0 30px #DE0082,
    0 0 5px #FF63BE, 
    0 0 80px #DE0082;
}

@mixin white-neon-border{
    box-shadow: 0px 0px 10px 2.5px #fefae0, inset 0px 0px 10px 2.5px #fefae0;

}