@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;

.hero {
    height: 100vh;
    @include mobile-padding;

    @include tablet {
        @include tablet-padding;
        height: 80vh;
    }
    @include desktop {
        width: 60rem;
    }

    &__textbox{
        position: relative;
        border: 2px solid $primaryLight;
        padding: 2rem;

        @include tablet{
            width: 100%;
        }
    }

    &__headline{
        width: 100%;
        margin: 0;

        @include tablet {
            font-size: 4rem;
            margin-top: 0;

        }

        &--smaller{
            font-size: 2rem;
            margin: 0;
        }
    }
    &__tagline {
        @include tablet{
            width: 50%;
            font-size: 1.2rem;
        }
    }

    &__circle{
        display: none;

        @include tablet{
            display: block;
            position:absolute;
            top: 11rem;
            left: 51rem;
            width: 20rem;
            height: 20rem;
            border-radius: 100%;
            background-color: $primaryLight;
        }
    }

    &__img {
        position: absolute;
        display: none;

        @include tablet{
            display:block;
            width: 20rem;
            height: 30rem;
            top: 10rem;
            right: -8rem;
            z-index: 1;
        }

        @include desktop {
            top: 14rem;
            right: 6rem;
            
        }

        &-container{
            display: none;

            @include tablet{
                display: block;
            }
        }
        
    }

    &__button {
        @include button;
        @include tablet {
            font-size: 1.2rem;
        }
    }
}
