@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;

.hero {
    height: 100vh;
    @include mobile-padding;

    @include tablet {
        @include tablet-padding;
        height: 50vh;
    }
    @include desktop {
        width: 60rem;
    }

    &__textbox{
        position: relative;

        @include tablet{
            width: 100%;
        }
    }

    &__headline{
        width: 100%;

        @include tablet {
            font-size: 4rem;
            margin-top: 0;
        }
    }
    &__tagline {
        @include tablet{
            width: 50%;
            font-size: 1.2rem;
        }
    }

    &__img {
        position: absolute;
        display: none;

        @include tablet{
            display:block;
            width: 20rem;
            top: 8rem;
            right: -8rem;
            z-index: 1;
        }

        @include desktop {
            top: 14rem;
            right: 6rem;
            
        }
        
    }

    &__button {
        @include button;
        @include tablet {
            font-size: 1.2rem;
        }
    }
}