@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;

.hero {
    height: 100vh;
    max-width: 35rem;
    @include mobile-padding;

    @include tablet {
        @include tablet-padding;
        max-width: 60rem;
        display: flex;
        justify-content: space-between;
    }
    @include desktop {
        max-width: none;
        width: 100%;
        justify-content: space-around;
    }

    &__textbox{

        @include tablet{
            width: 50%;
            height: 100%;
        }
    }

    &__headline{
        width: 100%;
        margin: 0;

        @include tablet {
            font-size: 4rem;
            margin-top: 0;
            max-width: 40rem;
        }

        @include desktop {
            font-size: 6rem;
            max-width: none;
        }

        &--smaller{
            font-size: 2rem;
            margin: 0;
            display: block;

            @include desktop {
                font-size: 2.5rem;
            }
            
        }
    }
    &__tagline {
        @include tablet{
            width: 100%;
        }
    }

    &__img {
        display: none;

        @include tablet{
            display:block;
        }

        @include desktop {
        }

        &-container{
            display: none;

            @include tablet{
                display: block;
            }
        }
        
    }

    &__button {
        @include button;
        @include tablet {
            font-size: 1.2rem;
        }
    }
}
