@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;

.connect {
    background-color: $primary;
    @include mobile-padding;
    @include flex-column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;

    @include tablet{
        flex-direction: row;
        @include tablet-padding;
        width: 45rem;
    }

    @include desktop {
        width: 60rem;
    }

    &__formbox{

        @include tablet{
            width: 50%;
        }
    }

    &__img{
        display: none;

        @include tablet {
            display: inline;
            position: relative;
            left: 2rem;
        }
        &-sent{
            position: absolute;
            top: 10rem;
            left: 3rem;

        }

    }
}