@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;

.connect {
    background-color: $primary;
    @include mobile-padding;
    @include flex-column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    

    @include tablet{
        @include tablet-padding;
    }

    @include desktop {
        width: 60rem;
    }

    &__formbox{
        width: 100%;
        display: flex;
        max-width: 28rem;

        @include tablet{
            max-width: none;
            justify-content: space-between;
        }

    }

    &__img{
        display: none;

        @include tablet {
            display: block;
            align-items: flex-start;
            width: 25rem;
            margin: 2rem;
        }
    
        &-sent{
            position: absolute;
            top: 10rem;
            left: 3rem;

        }

    }
}