@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;

.projects {
    position: relative;
    border: 2px solid white;
    height: 250vh;
    padding: 2rem;

    @include tablet{
        @include flex-column;
        @include tablet-padding;
        height: auto;
    }

    @include desktop {
        width: 60rem;
    }

    &__img{
        position: absolute;
        top: -2rem;
        left: -1rem;

        @include tablet{
            left: 5rem;
            width: 20rem;
        }
    }

    &__headline {
        position: absolute;
        top: 1rem;
        right: 1rem;

        @include tablet {
            position: static;
            align-self: flex-end;

        }
    }

    &__box {
        position: relative;
        top: 10rem;
        @include flex-column;
        justify-content: center;
        align-items: center;

        @include tablet{
            position: static;
            padding-top: 5rem;
        }


    }
}