@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;

.projects {
    border: 2px solid white;
    padding: 0 2rem 2rem 2rem;


    @include tablet{
        @include flex-column;
        @include tablet-padding;
        width: 90%;
    }

    @include desktop {
        width: 60rem;
    }

    &__header{
        @include flex-column;
        justify-content: center;
        align-items: center;

        @include tablet{
            flex-direction: row;
            position: relative;
            height: 8rem;

        }
    }

    &__img{
        position: relative;
        top: -4rem;
        left: -4rem;
        width: 12rem;
        height: 15rem;

        @include tablet{
            top: -6rem;
            left: -10rem;
            width: 20rem;
        }
    }

    &__headline {
        margin-top: -2rem;
        margin-bottom: 2rem;
        
        
        @include  tablet{
            position: absolute;
            right: 7rem;
        }

    }

    &__box {
        position: relative;
        @include flex-column;
        justify-content: center;
        align-items: center;

        @include tablet{
            position: static;
        }


    }
}