@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/animation' as *;


.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mobile-padding;

    @include desktop {
        @include desktop-padding;
    }

    &__name{
        @include tablet {
            display: none;
        }

        &--tablet {
            display: none;
            @include tablet {
                display: contents;
            }
        }
    }

    &__list {
        display:flex;
        justify-content: space-between;
        align-items: inherit;
        padding-left: 0.5rem;
    }

    &__icon{
        width: 1rem;

        @include tablet{
            width: 1.5rem;
        }
        @include desktop {
            width: 2rem;
        }
    }

    &__link {
        text-decoration: none;
        color:$primaryLight;
        background-color: $primary;

        &-item{
            list-style: none;
            text-decoration: none;
            color: $primaryLight;
            margin-right: 0.5rem;
            cursor: pointer;

            @include tablet {
                margin-right: 1rem;
            }

            &:hover {
                animation: bounce 1s linear infinite;
            }
        }
    }

}