@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/animation' as *;


.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mobile-padding;
    padding-right: 0;
    font-weight: 800;

    @include tablet {
        margin: 0 2rem;
    }

    @include desktop {
        @include desktop-padding;
    }

    &__name{
        color: $primaryLight;
        text-decoration: none;

        &:hover {
            color: $secondaryDark;
        }

        @include tablet {
            display: none;
        }

        &--tablet {
            display: none;
            @include tablet {
                display: contents;
                color: $primaryLight;
            }

            &:hover{
                color: $secondaryDark;
            }
        }
    }

    &__list {
        display:flex;
        justify-content: space-between;
        align-items: inherit;
        padding-left: 0.5rem;
    }

    &__icon{
        @include react-icon;
    }

    &__link {
        text-decoration: none;
        color:$primaryLight;

        &-item{
            list-style: none;
            text-decoration: none;
            margin-right: 0.5rem;
            cursor: pointer;

            @include tablet {
                margin-right: 1rem;
            }

            &:hover, 
            .nav__link:hover,
            .nav__icon:hover{
                animation: bounce 1s linear infinite;
                color: $secondaryDark;
            }
        }
    }

}