@use './styles/partials/typography' as *;
@use './styles/partials/colors' as *;
@use './styles/partials/mixins' as *;

*, *::before, *::after {
    box-sizing: border-box;
    }

body {
    margin: 0;
    overflow-x: hidden;
    background-color: $primaryLight;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;

    &--active{
        transform: translate(0);
        opacity: 1;
    }
}