@use '../../styles/partials/colors' as *;


.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.background__farthest{
    background-image: url(../../assets/background/neon-bg1.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

.homepage {
    // -ms-overflow-style: none;
    // scrollbar-width: none;
    // &::-webkit-scrollbar{
    //     display: none;
    // }
}

.section{
    display: flex;
    justify-content: center;
    align-items: center;
}